body {
    margin: 0;
    padding: 0;
    color: white;
}

header {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    justify-content: center;
    gap: 420px;
    background-color: #1F2937;
}

.logo {
    font-size: 32px;
    font-weight: 700;
}

header ul {  
    list-style-type: none;
    display: flex;
    gap: 30px;
}

.section-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    background-color: #1F2937;
    padding: 50px 0;
}

.sec-1-text {
    color: #E5E7EB;
    font-size: 18px;
    width: 400px;
}

.website-awesome {
    font-size: 48px;
    padding: 0;
    margin: 0;  
}

.who-invited-img {
    max-width: 400px;
}

.sign-up-button {
    background-color: #3882F6;
    border-color: #3882F6;
    border-style: solid;
    padding: 4px 16px;
    border-radius: 4px;
    color: white;
}

.section-2 {
    text-align: center;
    gap: 32px;
    color: black;
    margin: 48px 0;
}

.boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 46px;
}

.box-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    color: black;
    text-align: center;
}

.box {
    width: 150px;
    height: 150px;
    border: 2px black;
    border-style: solid;
    border-radius: 10px;
}

h2 {
    font-size: 32px;
    margin: 36px;
}

.section-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #1F2937;
    background-color: #E5E7EB;
}

.quote_container {
    margin: 48px 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.quote {
    font-size: 36px;
    font-style: italic;
    width: 450px;
}

.michael-scott {
    align-self: flex-end;
    flex-wrap: wrap;
    font-weight: 600;
}

.section-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

.sec-4-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    background-color: #3882F6;
    border-radius: 10px;
    width: 900px;
    height: 150px;
    padding: 0;
    margin: 0;
}

.sec-4-box .text-box {
    padding: 0;
    margin: 0;
}

.action-text {
    font-size: 26px;
    padding: 0;
    margin: 0;
    font-weight: 800;       
}

.action-subtext {
    font-size: 18px;
    padding: 0;
    margin: 0;
}

.sec-4-box .sign-up-button {
    width: 90px;
    height: 32px;
    border-style: solid;
    border-color: white;
}

footer {
    margin: 0;
    padding: 0;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    font-size: 18px;
    margin: 40px;
}